<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz Flamengo</title>

        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>

        <header class="header">

            <div class="logo">
            
                <a class="site" href="http://www.flamengo.com.br" target="_blank" >
                    <img src="/assets/logo.png" alt="Foodfy Logo" />
                </a> 
                
                <p>Site do Mengão</p>

            </div>

            <a href="/">Início</a>

        </header>

        <section class="content">

            <a class="featured" href="https://www.goal.com/br/equipe/flamengo/partidas-resultados/102ykb145wz6dtveg65nistwm" target="_blank" rel="noopener noreferrer">Jogo do Mengão!!!</a>

            <section class="quest_image">

                <img src="/assets/team.jpg" alt="Foto descritiva" />

                <p class="illustrative">Imagem meramente ilustrativa</p>

            </section>

            <article class="quest_title">

                <h1>Você pensa que o Flamengo é time ?</h1>

            </article>

            <section class="alternatives">

                <article class="alternative">

                    <p>Flamengo não é time não</p>

                    <i class="material-icons">arrow_forward_ios</i> 

                </article>

                <article class="alternative">

                    <p>É um time ruim</p>

                    <i class="material-icons">arrow_forward_ios</i>

                </article>
                
                <article class="alternative">

                    <p>Flamengo é seleção p#*@%!!</p>

                     <i class="material-icons">arrow_forward_ios</i>

                </article>
                
                <article class="alternative">

                    <p>Sim</p>

                     <i class="material-icons">arrow_forward_ios</i>

                </article>
                
                <article class="alternative">

                    <p>Mengão na veia!!</p>

                     <i class="material-icons">arrow_forward_ios</i>

                </article>
                
                <article class="alternative">

                    <p>Time é o Vasco da Gama</p>

                     <i class="material-icons">arrow_forward_ios</i>

                </article>


            </section>

        </section>

        <footer><p>Todos os direitos Paulo Silva dos Reis 2020 &copy;</p></footer>
        
    </body>
</html>