{% extends "layout.njk" %}

    {% block content %}

        <section class="begin_cont">

            <article class="quiz_img">

                <img src="https://c4.wallpaperflare.com/wallpaper/329/986/395/soccer-clube-de-regatas-do-flamengo-logo-hd-wallpaper-preview.jpg" alt="Mengão" />

                <h1>Quiz do Mengão!!</h1>

                <p>Por Paulo Reis</p>

            </article>

            <p class="begin_title">Você realmente conhece tudo sobre o Meengão ??</p>

            <article class="begin_bottons">

                <a href="https://www.goal.com/br/equipe/flamengo/partidas-resultados/102ykb145wz6dtveg65nistwm" target="_blank" class="game">Ultimo jogo do Mengão!</a>
                <a href="http://localhost:5000/quest/0" class="begin_botton">Começar</a>


            </article>

        </section>

    {% endblock %}