@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-top: 140px;
}

.header {
    width: 85.5%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    
    background-color: white;

    margin: 0 auto;
    padding: 25px 1px 10px;
    align-items: center;
    justify-content: space-between;

}

header img {
    width: 50px;
    padding: 5px;

    border: 2px solid rgba(255, 21, 21, 0.897);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.040);
    box-shadow: 1px 1px 4px rgba(255, 14, 14, 0.842);
    cursor: pointer;

    filter: brightness(117%);
}

header img:hover {
    width: 55px;
    
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(29, 29, 29);
    box-shadow: 1px 1px 4px rgb(53, 53, 53);
    border: none;

    transition: 350ms;
}

.site {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    padding: 1px 5px;
}

.site:hover {
    background: none;
    border: none;
    box-shadow: none;;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    margin-left: 10px;
    font-size: 23px;
    color: rgb(19, 19, 19);
    border-bottom: 3px solid rgb(255, 61, 61);

    padding-bottom: 3px;
}

header a {
    padding: 9px 15px;

    background-color: rgba(255, 21, 21, 0.897);
    color: rgb(255, 241, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(255, 14, 14, 0.842);
}

header a:hover {
    filter: brightness(95%);
    background-color: rgb(42, 42, 42);
    color: white;
    box-shadow: 1px 1px 4px rgb(53, 53, 53);


    transition: 350ms;
}

/* BEGIN */

.begin_cont {
    max-width: 700px;
    height: 100%;
    
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.quiz_img {
    max-width: 700px;

    margin: 0 auto;
    position: relative;
}

.quiz_img img {
    width: 100%;
    max-height: 570px;

    border-radius: 20px;
}

.quiz_img h1 {
    position: absolute;
    bottom: 50px;
    left: 15px;

    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 32px;
}

.quiz_img p {
    position: absolute;
    bottom: 15px;
    left: 19px;

    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid rgb(24, 24, 24);
}

.begin_title {
    color: rgba(0, 0, 0, 0.829);
    font-size: 20px;
    font-weight: bold;

    margin: 10px 0;
    text-align: left;
}

.begin_bottons {
    max-width: 550px;
    margin: 30px auto 20px;
    justify-content: space-between;
    display: flex;
}

.game {
    color: white;
    background-color: rgb(29, 29, 29);
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;

    padding: 9px 12px;
}

.game:hover {
    filter: brightness(130%);
    font-size: 19px;

    transition: 250ms;
}

.begin_botton {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    font-size: 19px;
    border: 3px solid rgb(255, 34, 34);

    padding: 5px 8px;
    margin-right: 10px;
}

.begin_botton:hover {
    filter: brightness(95%);
    background-color: rgb(255, 34, 34);
    color: white;
    box-shadow: 1px 1px 4px rgba(255, 18, 18, 0.842);
    font-size: 20px;

    transition: 350ms;
}


/* QUEST */

.content {
    max-width: 900px;
    height: 100%;

    padding: 30px 20px 20px;
    margin: 20px auto 30px;
    position: relative;
    
    border: 2px solid rgb(214, 0, 0);
    box-shadow: 1px 1px 5px rgb(70, 70, 70);
    border-radius: 10px;
}

.featured {
    color: white;
    background-color: rgb(29, 29, 29);
    text-decoration: none;
    border-radius: 20px;

    padding: 5px 7px;

    position: absolute;
    top: -15px;
    left: 75px;
}

.featured:hover {
    filter: brightness(130%);
    border: 1px solid rgb(29, 29, 29);

    transition: 250ms;
}

.quest_image {
    width: 100%;
    height: 280px;
    text-align: center;

    position: relative;
}

.quest_image img {
    width: 85%;
    height: 100%;

    border-radius: 20px
}

.illustrative {
    position: absolute;
    bottom: 0;
    right: 67px;

    padding: 6px 10px 6px 6px;
    max-width: 236px;

    background-color: rgba(15, 15, 15, 0.589);
    color: white;
    font-weight: bold;
    border-radius: 0 0 20px 0;

}

.quest_title {
    max-width: 765px;

    margin: 30px auto;
}

.quest_title h1 {
    font-size: 24px;
    color: rgb(19, 19, 19);
}

.alternatives {
    max-width: 765px;

    margin: 0 auto;

    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 3px rgb(70, 70, 70);
}

.alternative:last-child {
    border: none;
}

.alternative {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgb(70, 70, 70);
    cursor: pointer;
}

.alternative:hover {
    background-color: rgb(255, 10, 10);
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgb(255, 10, 10);

    transition: 350ms;
}

.alternative p {
    font-size: 20px;
}

/* RESULT */

.begin_cont.result {
    max-width: 500px;

    margin: -40px auto 20px;
}

#quiz {
    font-size: 40px;

    margin: 10px 0;
}

.begin_cont.result h2 {
    font-size: 35px;
    color: rgba(59, 59, 59, 0.856);
    border-bottom: 3px solid rgb(255, 10, 10);
    display: inline-block;

    margin: 10px 0;
}

#feed {
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 0.19);
    

    display: inline-block;

    margin: 7px 0;
    padding: 7px 10px;
}

#feed:hover {
    filter: brightness(.1%);
    border: 1px solid rgba(61, 61, 61, 0.19);
}

footer { 
    max-width: 1740px;
    text-align: center;
    padding: 10px;

    background-color: #acacac;
}